In [1]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
import random as ra

In [144]:
dataset = pd.read_csv("parkinson.csv", sep=';')
dataset

/opt/tljh/user/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3156: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CHR,POS,SNP,REF,ALT,r0,r1,r2,s0,s1,...,CATT_A_stat,CATT_A_pvalue,CATT_D_stat,CATT_D_pvalue,CHI2_stat,CHI2_pvalue,MERT_stat,MERT_pvalue,MAX3_stat,MAX3_pvalue
0,10,47375,.,A,G,38,1,0,8,0,...,1.01307,0.311026,1.01307,0.311026,0.209588,0.647091,0.819493,0.206253,1.01307,0.533896
1,10,47397,.,T,C,40,1,0,7,0,...,1.01242,0.311336,1.01242,0.311336,0.174364,0.676262,0.817953,0.206692,1.01242,0.534310
2,10,47405,.,T,C,41,1,0,7,0,...,1.01212,0.311480,1.01212,0.311480,0.170139,0.679988,0.816693,0.207052,1.01212,0.534502
3,10,47588,.,G,A,37,0,1,4,0,...,1.01342,0.310858,1.01342,0.310858,0.107831,0.742628,1.013420,0.155429,1.01342,0.533673
4,10,47681,.,G,T,29,1,0,2,0,...,1.01710,0.309108,1.01710,0.309108,0.068817,0.793067,0.844195,0.199280,1.01710,0.531335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615072,Y,56880112,.,C,T,2,0,1,3,0,...,1.22474,0.220671,1.22474,0.220671,1.200000,0.273322,1.224740,0.110336,1.22474,0.405500
615073,Y,56880182,.,C,G,5,0,1,3,0,...,1.09545,0.273322,1.09545,0.273322,0.562500,0.453255,1.095450,0.136661,1.09545,0.482245
615074,Y,56881291,.,G,T,1,0,1,1,0,...,1.41421,0.157299,1.41421,0.157299,0.750000,0.386476,1.414210,0.078650,1.41421,0.305560
615075,Y,56885614,.,T,C,3,0,1,1,0,...,1.15470,0.248213,1.15470,0.248213,0.312500,0.576150,1.154700,0.124107,1.15470,0.446329
615076,Y,56885653,.,G,T,4,1,0,1,0,...,1.11803,0.263552,1.11803,0.263552,0.240000,0.624206,1.079240,0.140239,1.11803,0.468417

In [145]:
X=dataset[['CATT_R_pvalue','CATT_A_pvalue','CATT_D_pvalue','MERT_pvalue','CHI2_pvalue','MAX3_pvalue']].loc[:]
X=X.astype(float)
X

,CATT_R_pvalue,CATT_A_pvalue,CATT_D_pvalue,MERT_pvalue,CHI2_pvalue,MAX3_pvalue
0,0.884028,0.311026,0.311026,0.206253,0.647091,0.533896
1,0.885234,0.311336,0.311336,0.206692,0.676262,0.534310
2,0.886403,0.311480,0.311480,0.207052,0.679988,0.534502
3,0.310858,0.310858,0.310858,0.155429,0.742628,0.533673
4,0.859684,0.309108,0.309108,0.199280,0.793067,0.531335
...,...,...,...,...,...,...
615072,0.220671,0.220671,0.220671,0.110336,0.273322,0.405500
615073,0.273322,0.273322,0.273322,0.136661,0.453255,0.482245
615074,0.157299,0.157299,0.157299,0.078650,0.386476,0.305560
615075,0.248213,0.248213,0.248213,0.124107,0.576150,0.446329
615076,0.683091,0.263552,0.263552,0.140239,0.624206,0.468417

In [146]:
from keras.models import model_from_yaml
from keras import backend as K

In [147]:
yaml_file = open('new_train_valid_model1.yaml', 'r')
loaded_model_yaml = yaml_file.read()
yaml_file.close()
loaded_model = model_from_yaml(loaded_model_yaml)
loaded_model.load_weights("new_train_valid_model1.h5")
print("Loaded model from disk")
# 0.57389987

Loaded model from disk

In [148]:
# X2=[[0.291841,0.291841,1,0.228028,0.024137,0.507954]]
#X2=[[0.009189,0.948473,0.519503,0.156205,0.006194,0.024745]]

xx=np.array(X)
outputs = [K.function([loaded_model.input], [layer.output])([xx]) for layer in loaded_model.layers]
uz = len(outputs[13][0])
massiv1=np.array(outputs[13][0]).reshape(uz)
massiv1

array([0.7597108 , 0.7602891 , 0.7607098 , ..., 0.62760603, 0.6232028 ,
       0.67885906], dtype=float32)

In [150]:
len(massiv1)

615077

In [29]:
data1 = pd.read_csv("fH0.csv",sep=';')
data1

,r0,r1,r2,s0,s1,s2,CATT_R,CATT_A,CATT_D,MAX3,MERT,CHI2
0,30,0,0,26,3,1,0.309108,0.044065,0.031686,0.075138,0.966781,0.117319
1,24,6,0,25,4,1,0.309108,1.000000,0.738416,0.531335,0.665616,0.491544
2,22,7,1,26,3,1,1.000000,0.292955,0.190430,0.358887,0.214594,0.380349
3,23,7,0,25,5,0,0.897279,0.517146,0.517146,0.769018,0.291394,0.811936
4,27,3,0,27,3,0,0.897279,1.000000,1.000000,0.989438,0.463632,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
99999995,25,5,0,24,6,0,0.897279,0.738416,0.738416,0.931701,0.557586,0.945862
99999996,25,4,1,25,5,0,0.309108,0.762676,1.000000,0.531335,0.263385,0.573753
99999997,25,5,0,23,7,0,0.897279,0.517146,0.517146,0.769018,0.643094,0.811936
99999998,24,5,1,25,5,0,0.309108,0.555918,0.738416,0.531335,0.198739,0.600373
99999999,24,6,0,22,8,0,0.897279,0.540291,0.540291,0.790434,0.633721,0.829995

In [50]:
X_h0=data1[['CATT_R','CATT_A','CATT_D','MERT','CHI2','MAX3']].loc[:]
X_h0=X_h0.astype(float)
X_h0

            CATT_R    CATT_A    CATT_D      MERT      CHI2      MAX3
0         0.309108  0.044065  0.031686  0.966781  0.117319  0.075138
1         0.309108  1.000000  0.738416  0.665616  0.491544  0.531335
2         1.000000  0.292955  0.190430  0.214594  0.380349  0.358887
3         0.897279  0.517146  0.517146  0.291394  0.811936  0.769018
4         0.897279  1.000000  1.000000  0.463632  1.000000  0.989438
...            ...       ...       ...       ...       ...       ...
99999995  0.897279  0.738416  0.738416  0.557586  0.945862  0.931701
99999996  0.309108  0.762676  1.000000  0.263385  0.573753  0.531335
99999997  0.897279  0.517146  0.517146  0.643094  0.811936  0.769018
99999998  0.309108  0.555918  0.738416  0.198739  0.600373  0.531335
99999999  0.897279  0.540291  0.540291  0.633721  0.829995  0.790434

[100000000 rows x 6 columns]

In [51]:
import time

In [52]:
H0_v=[]
start=time.time()
for i in range(100):
    x_nn=X_h0[i*1000000:(i+1)*1000000]
    xx=np.array(x_nn)
    outputs = [K.function([loaded_model.input], [layer.output])([xx]) for layer in loaded_model.layers]
#     print(outputs[3])
    uz = len(outputs[13][0])
    massiv=np.array(outputs[13][0]).reshape(uz)
    H0_v=np.append(H0_v,massiv)


end=time.time()
print(end-start)
print(massiv)  
len(H0_v)

510.8558566570282
[0.5257533  0.7714081  0.73843026 ... 0.7714081  0.6308016  0.7650361 ]

100000000

In [53]:
H0_v=np.sort(H0_v)

In [151]:
LenH0 = len(H0_v)
p_vek=[]
# start=time.time()
for i in range(massiv1):
#     s=0
#     start=time.time()
    new_vek=H0_v1[H0_v1<massiv1[i]]
    p_vek.append(len(new_vek)/LenH0)
#     end=time.time()
    print(p_vek[i],i,massiv1[i])
    
# end=time.time() 
# print(end-start)
p_vek

In [34]:
dataset['NN_pvalue']=p_vek

In [37]:
dataset.to_csv('N_Pvalue.csv', index=False)

In [5]:
# dataset = pd.read_csv("Data_Parkinson.csv")
# dataset